body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  cursor: pointer;
}

#part_name {
  width: 130px;
  font-size: 30px;
  margin-top: 40px;
  transition: 300ms;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: darkviolet;
  border-radius: 12px;
  border: 4px red solid;
  background-color: rgb(234, 214, 243);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#part_name:hover {
  background-color: red;
  border-color: darkviolet;
  color: rgb(234, 214, 243);
  box-shadow: rgba(0, 0, 0, 0.592) 3px 3px 4px;
  text-shadow: rgba(0, 0, 0, 0.592) 2px 1px 3px;
}

input {
  width: 250px;
  height: 30px;
  font-size: large;
  transition: 200ms;
  border-radius: 5px;
  border: solid 1px darkblue;
}
input:hover {
  border-color: darkviolet;
  box-shadow: rgba(0, 0, 0, 0.592) 3px 3px 4px;
  text-shadow: rgba(0, 0, 0, 0.592) 1px 1px 3px;
}