body {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgb(186, 1, 192) 0%, rgba(0,212,255,1) 50%, rgb(186, 1, 192) 100%);
}

#space {
  margin: auto;
  width: 630px;
  height: 630px;
  margin-top: 8%;
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgb(138, 0, 60, 0.6);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 30px 50px;
  background: linear-gradient(rgba(1, 1, 109, 0.4) 0%, rgba(0,212,255, 0.4) 50%, rgba(1, 1, 109, 0.4) 100%);
}

#clock {
  margin: auto;
  width: 500px;
  height: 110px;
  margin-top: 38%;
  font-size: 78px;
  text-align: center;
  border-radius: 15px;
  color: rgb(161, 0, 70);
  background-color: rgba(1, 1, 109, 0.4);
  border: 2px solid rgb(138, 0, 60, 0.6);
  box-shadow: inset rgba(0, 0, 0, 0.45) 0px 10px 20px;
}

input {
  width: 490px;
  height: 45px;
  cursor: pointer;
  margin-top: 5px;
  font-size: 27px;
  transition: 200ms;
  border-radius: 5px;
  font-weight: bolder;
  color: rgb(161, 0, 70);
  background-color: rgba(1, 1, 109, 0.3);
  border: solid 1px rgb(138, 0, 60, 0.6);
  box-shadow: inset rgba(0, 0, 0, 0.6) 0px 1px 5px;
}
input:hover {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 3px;
  box-shadow: inset rgba(0, 0, 0, 0.6) 0px 3px 10px;
}
input:active {
  box-shadow: inset rgba(0, 0, 0, 0.6) 0px 10px 50px;
}