body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
  cursor: pointer;
}

#part_name {
  font-size: 30px;
  margin-top: 40px;
  font-weight: bold;
  font-family: serif;
  margin-bottom: 10px;
  color: darkviolet;
}

#paragraph {
  width: 150px;
}

#img_description {
  font-size: 20px;
  color: darkblue;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#img1 {
  margin-top: 10px;
}