body {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(90deg, rgb(8, 8, 181) 0%, rgba(0,212,255,1) 50%, rgb(186, 1, 192) 90%);
}

input {
  cursor: pointer;
}

#part_name {
  margin: auto;
  width: 130px;
  font-size: 30px;
  margin-top: 40px;
  transition: 300ms;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: darkviolet;
  border-radius: 12px;
  border: 4px red solid;
  background-color: rgb(234, 214, 243);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#part_name:hover {
  background-color: red;
  border-color: darkviolet;
  color: rgb(234, 214, 243);
  box-shadow: rgba(0, 0, 0, 0.592) 0px 3px 3px;
  text-shadow: rgba(0, 0, 0, 0.592) 2px 1px 3px;
}

input {
  width: 500px;
  height: 30px;
  font-size: large;
  transition: 200ms;
  border-radius: 5px;
  background-color:rgba(255, 255, 255, 0.7);
  border: solid 1px rgb(255, 0, 140);
}
input:hover {
  border-color: darkviolet;
  box-shadow: rgba(0, 0, 0, 0.592) 0px 3px 4px;
  text-shadow: rgba(0, 0, 0, 0.592) 1px 1px 3px;
}
input:active {
  
  box-shadow: rgba(0, 0, 0, 0.592) 0px 10px 50px;
}